<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <!-- 메뉴 상세 -->
    <body>
        <div class="cafe-menu">
            <h1> {{ menu.coffee_name }} </h1>
            <img src = "{{ menu.img }}">
            <h2> {{ menu.brand }}</h2>
            <p>단백질 : {{ menu.protein }}</p>
            <p>칼로리 : {{ menu.calorie }}</p>
            <p>포화지방 : {{ menu.fatty }}</p>
            <p>나트륨 : {{ menu.na }}</p>
            <p>당류 : {{ menu.dang }}</p>
            <p>카페인 : {{ menu.caffeine }}</p>   
        </div>
    
    <!-- 좋아요/ 댓글 시작 -->
        <div>
            <form method="POST">
                {% csrf_token %}
                <button type="submit"
                    {% if user in menu.like_set.add.all %} 
                        style="color:rgb(255, 8, 222);" 
                    {% endif %}>
                    <!-- Menu에 좋아요 누른 사용자 수를 가져옴-->
                    Likes({{ menu.like_set.count }})
                </button>
            </form>
        <span>Comments({{ menu.comment_set.count }})</span>

        {% for comment in menu.comment_set.all %}
            <h4>{{ comment.user_id }}</h4>
            <p> {{ comment.content }}</p>
        {% endfor %}
        </div>
        </div>
    <!-- 댓글 달기 -->
        <small>{{ post.created }}</small>
        <div>
        <!-- action 속성을 "댓글 추가" View 를 가리키는 URL 로 지정 -->
        <form method = "POST">
            {% csrf_token %}
            <!-- 사용자가 직접 입력하지 않는 고정된 데이터를 form 내부에 위치 -->
                <input type = "hidden" name = "post" value = "{{ menu.id }}">
            <!-- 전달된 comment_form 의 필드 중, "content" 필드만 렌더링 -->
            {{ comment_form.content }}
            <button type = "submit">게시</button>
        </form>
        </div>
    </body>
</html>