<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cafe-menu">
        <h1> {{ menu.coffee_name }} </h1>
        <img src = "{{ menu.img }}">
        <h2> {{ menu.brand }}</h2>
        <p>단백질 : {{ menu.protein }}</p>
        <p>칼로리 : {{ menu.calorie }}</p>
        <p>포화지방 : {{ menu.fatty }}</p>
        <p>나트륨 : {{ menu.na }}</p>
        <p>당류 : {{ menu.dang }}</p>
        <p>카페인 : {{ menu.caffeine }}</p>   
    </div>
</body>
</html>